body {
  font-size: 30;
  background-color:black;
}
button:link, button:visited {
  background-color: white;
  font-size: 30px;
  text-align: center;
}

button:hover, button:active
{background-color: red;
  font-size: 30px;
  text-align: center;
}
.button {
  color:white;
  text-align:left;
  background-color:green;
  font-size:30px;
  
}
